<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="PlasticWindowsCS" connectionString="Data Source=(localdb)\mssqllocaldb;AttachDbFilename=\\itcorp.tech\Homes\Student\01630\30\Desktop\WorkToDB\DB\DB_PlasticWindows.mdf;Initial Catalog=DB_PlasticWindows;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="poCS" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=po;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
